*{
margin: 0;
font-family: 'Open Sans', sans-serif;
}

.text-primary{
 color: rgb(231, 108, 25);
}
.btn-primary { 
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding:  18px 35px;
    height: 84px;
    border-radius: 5px;
    background: rgb(231, 108, 25);
  }
.header {
    background: #f3f2f1;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}    
/* header and navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
 
}
.nav-titel {
    font-weight: 800;
    font-size: 45px;
}
/* baner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-titel{
 font-weight: 700;
 font-size: 85PX;

}
.banner-sub-titel{
font-weight: 600;
font-size: 45PX;
margin-bottom: 20px;
}
.banner-description{
    color:rgb(177, 173, 168);
    font-size: 18px;
    margin-bottom: 30px;

}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
} 
section {
    margin-top: 130px;
}

/* about section style */
.about{
    text-align: center;
    margin-top: 130px;
    background: rgb(240, 239, 238);
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-titel{
    text-align: center;
    font-weight: 700;
    font-size: 35;
    margin-bottom: 30px;


}
.section-description{
    color: #494441;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about .info-titel{
    font-size: 20px;
    color: #494441;

}

.info-description{
 font-weight: 700;  
 font-size: 20PX; 
 color: #494441;
}